.active {
	border-bottom: 2px solid rgb(77, 175, 255);
	margin-top: -2px;
	font-weight: 600;
}

.innerShadow {
	box-shadow: 1px 2px 5px 2px rgba(71, 71, 71, 0.36) inset;
	-webkit-box-shadow: 1px 2px 5px 2px rgba(71, 71, 71, 0.36) inset;
	-moz-box-shadow: 1px 2px 5px 2px rgba(71, 71, 71, 0.36) inset;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.menu-mobile {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.menu-mobile.visible {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.navToday {
	height: 52.0781px;
}

.menu-mobile {
	animation: slideDown 0.6s;
}

@keyframes slideDown {
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes animate {
	0% {
	  transform: translateY(0px);
	}
	25% {
	  transform: translateY(-10px);
	}
	50% {
	  transform: translateY(0px);
	}
  }

  h1 span {
	position: relative;
	display: inline-block;
	animation: animate 3s linear infinite;
  }

  h1 span:nth-child(1) {
	animation-delay: 0s;
  }
  h1 span:nth-child(2) {
	animation-delay: 0.2s;
  }
  h1 span:nth-child(3) {
	animation-delay: 0.4s;
  }
  h1 span:nth-child(4) {
	animation-delay: 0.6s;
  }
  h1 span:nth-child(5) {
	animation-delay: 0.8s;
  }
  h1 span:nth-child(6) {
	animation-delay: 1s;
  }
  h1 span:nth-child(7) {
	animation-delay: 1.2s;
  }
  h1 span:nth-child(8) {
	animation-delay: 1.4s;
  }
  h1 span:nth-child(9) {
	animation-delay: 1.6s;
  }
  h1 span:nth-child(10) {
	animation-delay: 1.8s;
  }
  h1 span:nth-child(11) {
	animation-delay: 2s;
  }
  h1 span:nth-child(12) {
	animation-delay: 2.2s;
  }
  h1 span:nth-child(13) {
	animation-delay: 2.4s;
  }
  h1 span:nth-child(14) {
	animation-delay: 2.6s;
  }
  h1 span:nth-child(15) {
	animation-delay: 2.8s;
  }
  h1 span:nth-child(16) {
	animation-delay: 3s;
  }
  h1 span:nth-child(17) {
	animation-delay: 3s;
  }
  h1 span:nth-child(18) {
	animation-delay: 3.2s;
  }
  h1 span:nth-child(19) {
	animation-delay: 3.4s;
  }
  h1 span:nth-child(20) {
	animation-delay: 3.6s;
  }
  h1 span:nth-child(21) {
	animation-delay: 3.8s;
  }

  ::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: var(--background);
  }
  
  ::-webkit-scrollbar-thumb {
	background: #66CCC1;
	-webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
	background: var(--background);
  }